/* Typography styles */
.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", serif;
  font-weight: 700;
  font-style: italic;
}

.raleway {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Global styles for body, links, and lists */
body {
  font-family: "Roboto", sans-serif;
  color: #434455; /* Text color */
  background-color: #ffffff; /* Background color */
}

a {
  text-decoration: none; /* Remove underline from links */
  color: #2e2f42; /* Default link color */
  font-style: normal;
}

a:hover,
a:focus {
  color: #4d5ae5; /* Change link color on hover/focus */
}

li {
  list-style-type: none; /* Remove default bullet points */
}

/* Header styles */
header {
  display: flex; /* Flex container */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space between logo, nav, and address */
  width: 100%; /* Full width */
  max-width: 1440px; /* Maximum width */
  height: 72px; /* Fixed height */
  margin: 0 auto; /* Center the header */
  padding: 0 156px; /* Padding left and right */
  box-sizing: border-box; /* Include padding in the width */
}

/* Navigation styles */
nav {
  display: flex; /* Flex container for nav */
  align-items: center; /* Center nav items vertically */
  gap: 40px; /* Space between nav links (Studio, Portfolio, Contacts) */
}
/* logotype  */
.full-logo {
  display: inline-block; /* Убедимся, что логотип занимает одно целое пространство */
  font-family: "Raleway", sans-serif; /* Используем правильный шрифт */
  font-size: 18px; /* Размер шрифта */
  font-weight: 700; /* Жирный шрифт */
  text-transform: uppercase; /* Текст в верхнем регистре */
  text-decoration: none; /* Уберём подчеркивание */
  margin-right: 72px; /* Расстояние между логотипом и навигацией */
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.logo-studio {
  color: #2e2f42; /* Цвет для "Studio" */
  display: inline; /* Текст на одной линии */
}
.full-logo .logo-studio:hover,
.full-logo .logo-studio:focus {
  color: #404bbf;
}
/* Navigation list */
nav ul {
  display: flex; /* Flex container for list */
  align-items: center; /* Center list items vertically */
  gap: 40px; /* Space between each list item */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
  list-style: none; /* Remove bullet points */
}
.navigation-link {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  font-size: 16px; /* Font size */
  font-weight: 500; /* Medium font weight */
  text-decoration: none; /* Remove underline */
}
.navigation-link:hover,
.navigation-link:focus {
  color: #404bbf;
}
/* Address (navigation) styles */
.address {
  font-style: normal;
}
.address ul {
  display: flex; /* Гибкий контейнер для email и телефона */
  flex-direction: row; /* Элементы в строку */
  align-items: center; /* Выравниваем элементы по вертикали */
  gap: 40px; /* Расстояние между элементами */
  margin: 0; /* Убираем отступы */
  padding: 0; /* Убираем отступы */
  list-style: none; /* Убираем маркеры списка */
  font-style: normal;
}
.address-content a {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-content a:hover,
.address-content a:focus {
  color: #404bbf;
}

/* 1st section styles*/
.first-section {
  width: 100%; /* Full width */
  max-width: 1440px; /* Maximum width */
  height: 600px; /* Fixed height */
  background-color: #2e2f42; /* Background color */
  margin: 0 auto; /* Center section horizontally */
  display: flex; /* Flexbox container */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  position: relative; /* Position for absolute children */
}

/* H1 styles */
.first-header {
  width: 496px; /* Block width */
  height: 120px; /* Block height */
  font-family: "Roboto", serif; /* Font family */
  font-weight: 700; /* Bold text */
  font-size: 56px; /* Font size */
  color: #ffffff; /* Text color */
  text-align: center; /* Center text horizontally */
  margin: 188px auto 0; /* Top margin from section top */
  padding-left: 472px; /* Left padding */
  padding-right: 472px; /* Right padding */
  line-height: 1.07;
  letter-spacing: 0.02em;
}

/* Button styles */
.order-button {
  width: 169px; /* Button width */
  height: 56px; /* Button height */
  font-family: "Roboto", sans-serif; /* Font family */
  font-weight: 500; /* Medium text */
  font-size: 16px; /* Font size */
  color: #ffffff; /* Text color */
  background-color: #4d5ae5; /* Button background color */
  border: none; /* Remove default border */
  border-radius: 4px; /* Rounded corners */
  margin-top: 48px; /* Margin from heading */
  position: absolute; /* Absolute positioning */
  bottom: 188px; /* Distance from bottom of section */
  left: calc(50% - 84.5px); /* Center button horizontally */
  text-align: center; /* Center text */
  display: flex; /* Flex container for text */
  justify-content: center; /* Center text horizontally */
  align-items: center; /* Center text vertically */
  cursor: pointer; /* Pointer cursor on hover */
  transition: background-color 0.3s ease; /* Smooth color transition */
  line-height: 1.5;
  letter-spacing: 0.04em;
}

/* Button hover and focus styles */
.order-button:hover,
.order-button:focus {
  background-color: #404bbf; /* Цвет фона кнопки при наведении или фокусе */
  outline: none; /* Убираем стандартную рамку при фокусе */
}
/* Second section About US */
.about-section {
  background-color: #ffffff;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
/* Hidden H2 header */
.visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.about-section ul {
  display: flex;
  gap: 24px;
  max-width: 1128px;
  margin: 0 auto;
  padding: 120px 120px 156px 156px;
  list-style: none;
  justify-content: center;
}
.about-section li {
  width: calc((1128px - 72px) / 4);
  height: 104px;
}
.about-list {
  background-color: #ffffff;
}
/* H3 header styles */
.about-list .third-header {
  margin: 0 0 8px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #2e2f42;
  letter-spacing: 0.02em;
  line-height: 1.2;
}
/* Paragraph styles */
.about-section .paragraph {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}
/* Section Our Team */
.team-section {
  max-width: 1440px;
  width: 100%;
  height: 732px;
  background-color: #f4f4fd;
  padding-bottom: 120px;
  margin: 0 auto;
}
/* H2 styles */
.second-header {
  width: 162px; /* Фиксированная ширина заголовка */
  margin: 0 auto 72px; /* Центрирование с отступами */
  font-family: "Roboto", serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px; /* Высота строки равна высоте текста */
  color: #2e2f42;
  text-align: center;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  display: block; /* Блоковый элемент для правильного позиционирования */
  padding-top: 120px;
  white-space: nowrap; /* Запрещаем перенос текста на новую строку */
}
.team-section ul {
  display: flex;
  gap: 24px;
  padding: 0;
  justify-content: center;
  list-style: none;
}
.team-list {
  width: 264px;
  height: 380px;
  background-color: #ffffff;
  border-radius: 4px; /* Закруглённые углы */
  box-shadow: 0px 2px 1px 0px #2e2f4214, 0px 1px 1px 0px #2e2f4229,
    0px 1px 6px 0px #2e2f4214; /* Тени */
}
.team-section img {
  width: 264px;
  height: 260px;
  display: block;
  border-top-left-radius: 4px; /* Закругление верхнего левого угла картинки */
  border-top-right-radius: 4px; /* Закругление верхнего правого угла картинки */
}
.team-section .third-header {
  margin: 0 0 8px;
  font-family: "Roboto", serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
  padding-top: 32px;
  line-height: 1.11;
}
.team-section .paragraph {
  margin: 0 0 32px;
  text-align: center;
}

/* Section Portfolio */
.portfolio-section {
  width: 100%;
  max-width: 1128px;
  height: 100%;
  max-height: 1000px;
  margin: 0 auto;
  background: #ffffff;
  padding: 120px 156px 120px 156px;
}

.portfolio-section .second-header {
  display: block; /* Убедимся, что элемент ведет себя как блочный */
  margin: 0 auto; /* Отступ в 72px снизу */
  font-family: "Roboto", serif;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  padding-bottom: 72px;
  padding-top: 0;
  line-height: 1.11;
  text-transform: capitalize;
}
.portfolio-section ul {
  display: flex;
  flex-wrap: wrap; /* Если потребуется, элементы переносятся */
  gap: 24px; /* Отступы между элементами списка */
  justify-content: center; /* Центровка всех элементов в списке */
  padding: 0;
  margin: 0 auto;
  list-style: none;
}

.portfolio-section li {
  width: 360px;
  height: 420px;
  background: #ffffff;
  border: 1px solid #e7e9fc;
  box-sizing: border-box; /* Учитываем бордер в общих размерах */
}

.portfolio-section img {
  width: 360px;
  height: 300px;
  display: block;
}

.portfolio-section .third-header {
  margin: 0 0 8px; /* Отступы внутри элемента */
  font-family: "Roboto", serif;
  font-size: 20px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.2;
  letter-spacing: 0.02em;
  padding-left: 16px;
  padding-top: 32px;
}

.portfolio-section .paragraph {
  font-family: "Roboto", serif;
  font-size: 16px;
  font-weight: 400;
  color: #434455;
  padding-left: 16px;
  padding-top: 8px;
}
/* Footer section */
.footer-section {
  width: 100%;
  max-width: 1440px;
  height: 312px;
  margin: 0 auto;
  background: #2e2f42;
  display: flex;
  justify-content: flex-start; /* Выравнивание содержимого по левому краю */
  align-items: center; /* Вертикальное выравнивание содержимого */
  padding: 100px 0; /* Отступы сверху и снизу */
  box-sizing: border-box; /* Учитываем padding в общей высоте */
}
.info-box {
  width: 264px;
  height: 112px;
  margin: 0 0 0 156px; /* Отступ слева */
}
.footer-section .full-logo {
  display: inline-block; /* Убедимся, что логотип занимает одно целое пространство */
  font-family: "Raleway", sans-serif; /* Используем правильный шрифт */
  font-size: 18px; /* Размер шрифта */
  font-weight: 700; /* Жирный шрифт */
  text-transform: uppercase; /* Текст в верхнем регистре */
  text-decoration: none; /* Уберём подчеркивание */
  margin-bottom: 16px; /* Расстояние между логотипом и навигацией */
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.footer-section .logo-studio {
  color: #f4f4fd; /* Цвет для "Studio" */
}
.footer-section .full-logo:hover,
.footer-section .full-logo:focus {
  color: #404bbf; /* Hover and focus color */
  text-decoration: none; /* Remove underline */
}
.footer-section .logo-studio:hover,
.footer-section .logo-studio:focus {
  color: #404bbf; /* Hover and focus color */
  text-decoration: none; /* Remove underline */
}
.footer-section .paragraph {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  text-align: left;
  line-height: 1.5;
}
